h1 {
    margin-top: 30px;
    position: absolute;
    left: 680px;
    width: 200px;
    height: 80px;
}

fieldset{
    background-image: linear-gradient(black, grey);
    border: 1px solid aliceblue;
    width: 500px;
    height: 320px;
    position: absolute;
}

form{
    margin-top: 80px;
    position: absolute;
    right: 1000px;
}

label {
    display: block;
    width: 150px;
    margin-bottom: 1em;
    color: aliceblue;
}

input {
    background-color: aliceblue;
    display: block;
    width: 15em;
    margin-bottom: 1em;
    border: 1px solid aliceblue;
}

input#enviar {
    clear: both;
    width: auto;
}

textarea {
    display: block;
    background-color: aliceblue;
    border: 1px solid aliceblue;
    width: 15em;
    height: 150px;
    overflow-y: scroll;
    resize: none;
    margin-left: auto;
}